body {
  font-family: 'Ubuntu', sans-serif;
}

.heading {
  font-family: 'Oleo Script', cursive;
}

.code {
  font-family: 'Source Code Pro', monospace;
}

.cursive-text {
  font-family: 'Courgette', cursive;
}
