@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    input[data-autocompleted] {
        background-color: transparent !important;
    }
  }
  
*{
    scrollbar-width: none;
}

:root {
    --background: #121212;
    --topic: #1E1E1E;
    --text: #B0B0B0;
    --card: #1E1E1E;
    --buttons: #60A5FA;
    --input: #474E68;
    --dropdown: #FFFFFF;
    --buttonsHover: #29B6F6;
    --border: #2C2C2C;
    --buttonText: #FFFFFF;
    --heading: #FFFFFF;
}

[data-theme="light"] {
    --background: #F2F0EF;
    --topic: #FFFFFF;
    --text: #2b2b2b;
    --card: #FFFFFF;
    --buttons: #0077c0;
    --input: #474E68;
    --dropdown: #FFFFFF;
    --buttonsHover: #2192FF;
    --border: #d4cfcf;
    --buttonText: #FFFFFF;
    --heading: #2b2b2b;
}